#educationWrapper{
    display: flex;
}

#educationForm,
#education{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
}

.titleTextEd{
    font-size: 0.8rem;
    font-weight: bold;
}

.propertyEd{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
