#experienceWrapper{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 25px;
    color: #475569;
    gap: 15px;
}

#experienceForm,
#experience{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.propertyExp{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.expInput{
    border: 2px solid #475569;
}

.expHr{
    border-top: 1px solid #475569;
}

.titleTextExp{
    font-size: 0.8rem;
    font-weight: bold;
}

button#addExp{
    font-size: 0.7rem;
}

