#personalInfoWrapper{
    display: flex;
}

#personalInfoForm,
#personalInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.titleText{
    font-size: 0.8rem;
    font-weight: bold;
}

.property{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    appearance: none;
    height: 25px;
    border: 0px;
    border-radius: 5px;
    padding: 0px 5px;
}

input:focus{
    outline: none;
    border: 2px solid #38bdf8;
}

hr{
	border-top: 1px solid white;
}