*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 850px;
    border: 1px solid #475569;
}

#infoWrapper{
    display: flex;
    flex: 1;
}

#sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    background-color: #475569;
    color: white;
    padding: 25px;  
    gap: 50px;
}