*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App{
    display: flex;
    gap: 50px;
    width: 800px;
}

#infoWrapper{
    display: flex;
    flex: 1;
    height: 90vh;
    border: 1px solid #cbd5e1;
}

#sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    background-color: #475569;
    color: white;
    padding: 25px;  
    gap: 50px;
}

button{
    width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 10px;
    background-color: #475569;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #64748b;
}